<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a href="index.html" class="navbar-brand d-flex align-items-center">
        <svg class="mr-2" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" viewBox="0 0 24 24" focusable="false" xmlns="http://www.w3.org/2000/svg">
          <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" />
          <circle cx="12" cy="13" r="4" />
        </svg>
        <span>{{ site.name | replace('[-_]', ' ', 'g') | title }}</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site_menu" aria-controls="site_menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="site_menu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item{% if current === 'home' %} active{% endif %}">
            <a class="nav-link d-flex align-items-center" href="index.html"><i class="icon-aperture mr-1"></i> Home{% if current === 'home' %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item{% if current === 'features' %} active{% endif %}">
            <a class="nav-link" href="features.html">Features{% if current === 'features' %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item{% if current === 'about' %} active{% endif %}">
            <a class="nav-link" href="about.html">About{% if current === 'about' %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item d-flex align-items-center" href="https://twitter.com/w_zce">Twitter</a>
              <a class="dropdown-item d-flex align-items-center" href="https://weibo.com/zceme">Weibo</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item d-flex align-items-center" href="https://github.com/zce">GitHub</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
